{% extends 'cv/base.html' %}

{% block title %}Etusivu - Jounin CV{% endblock %}

{% block content %}

<!-- Hero -->
<section class="text-center py-5 bg-light rounded shadow-sm mb-5">
    <h1 class="display-4 fw-bold">Tervetuloa Jounin CV-sivustolle!</h1>
    <p class="lead mt-3">
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. 
    </p>
</section>

<!-- Tietoa minusta -->
<section id="tietoa" class="mb-5">
    <div class="card-style text-center">
        <h2 class="mb-4">{{ tietoa.otsikko }}</h2>
        <img src="{{ tietoa.kuva.url }}" alt="Profiilikuva" class="img-fluid rounded my-3" width="200">
        <p class="lead">{{tietoa.kuvaus}}</p>
    </div>
</section>

<!-- Työkokemus -->
<section id="tyokokemus" class="mb-5">
    <div class="text-center mb-4">
      <h2 class="py-2 px-4 rounded d-inline-block text-warning bg-dark">Työkokemus</h2>
    </div>
  
    {% for tyok in tyokokemukset %}
      <div class="card-style mb-3">
        <h4>{{ tyok.tehtava }} – {{ tyok.yritys }}</h4>
        <p class="text-muted">{{ tyok.alkupvm|date:"F Y" }} – {{ tyok.loppupvm|date:"F Y" }}</p>
        <p>{{ tyok.kuvaus }}</p>
      </div>
    {% endfor %}
  </section>

<!-- Koulutus -->
<section id="koulutus" class="mb-5">
    <div class="text-center mb-4">
        <h2 class="py-2 px-4 rounded d-inline-block text-warning">Koulutus</h2>
    </div>
    <div class="row justify-content-center">
        {% for koulutus in koulutukset %}
        <div class="col-md-3 mx-2 card-style text-center">
            <h5>{{ koulutus.tutkinto }}</h5>
            <p class="text-muted">{{ koulutus.oppilaitos }}<br>{{ koulutus.aloitusvuosi|date:"Y" }}–{{ koulutus.valmistumisvuosi|date:"Y" }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Taidot -->
<section id="taidot" class="mb-5">
    <div class="text-center mb-4">
        <h2 class="py-2 px-4 rounded d-inline-block text-warning">Taidot</h2>
    </div>

    <div class="card-style text-center">
        <div class="row justify-content-center">
            {% for taito in taidot %}
            <div class="col-md-2">
                <div class="skill-icon mx-auto">{{ taito.taso }}</div>
                <div class="skill-label">{{ taito.taito }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Yhteystiedot -->
<section id="yhteystiedot" class="text-center border-top pt-4 mt-5">
    <div class="card-style">
        <h2 class="mb-4">Yhteystiedot</h2>
        <p class="lead">
            ✉️ <a href="mailto:jounikivipera@gmail.com">jounikivipera@gmail.com</a>
        </p>
    </div>
</section>

{% endblock %}
